<div class="left_col scroll-view">

    

    <!-- menu prile quick info -->
    <div class="profile">
        <div class="profile_pic">
            <img src="<?php echo base_url('assets/images/user.png') ?>" alt="..." class="img-circle profile_img">
        </div>
        <div class="profile_info">
            <span>Welcome,</span>
            <h2><?php echo trans_user(current_user()) ?></h2>
        </div>
    </div>
    <!-- /menu prile quick info -->

    <br />

    <!-- sidebar menu -->
    <?php if(have_authority()) : ?>
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

        <div class="menu_section">
            <div class="clearfix"></div>
            <ul class="nav side-menu">
                <?php if(is_admin()) { ?>
                <li><a class="uam-sm"><i class="fa fa-cubes"></i> Acc. Mgt <span class="fa fa-chevron-down"></span></a>
                    <a class="uam-lg"><i class="fa fa-cubes"></i> Access Management <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu" style="display: none">
                        <li><a href="<?php echo site_url('user'); ?>">Users</a>
                        </li>
                        <li><a href="<?php echo site_url('group'); ?>">Groups</a>
                        </li>
                        <li><a href="<?php echo site_url('department'); ?>">Departments</a>
                        </li>
                        <li><a href="<?php echo site_url('company'); ?>">Company</a>
                        </li>
                        <li><a href="<?php echo site_url('menu'); ?>">Menu</a>
                        </li>
                        <li><a href="<?php echo site_url('notification'); ?>">Notification</a>
                        </li>
                    </ul>
                </li>
                <?php } ?>
                
                <li><a><i class="fa fa-edit"></i> Document <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu" style="display: none">
                        <?php if(is_editor() || is_admin() || is_contributor()) { ?>
                            <li><a href="<?php echo site_url('category'); ?>">Categories</a></li>
                        <?php } ?>
                        <?php if(is_editor() || is_admin() || is_reviewer()) { ?>
                            <li><a href="<?php echo site_url('approval'); ?>">Approvals</a></li>
                        <?php } ?>
                        <?php if(is_editor() || is_admin()) { ?>
                            <li><a href="<?php echo site_url('permission'); ?>">Permissions</a></li>
                        <?php } ?>
                    </ul>
                </li>
                <?php if(is_admin()) { ?>
                <li><a><i class="fa fa-wrench"></i> Utility <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu" style="display: none">
                        <li><a href="<?php echo site_url('backup'); ?>">Backup</a></li>
                        <li><a href="<?php echo site_url('restore'); ?>">Restore</a></li>
                    </ul>
                </li>
                <?php } ?>
                <?php if(is_editor() || is_admin()) { ?>
                <li><a href="<?php echo site_url('report'); ?>"><i class="fa fa-clipboard"></i> Statistic</a></li>
                <?php } ?>
                <?php if(is_reviewer() || is_admin()) { ?>
                <li><a class="uam-sm"><i class="fa fa-cubes"></i> Det. izin </a>
                    <a class="uam-lg"><i class="fa fa-cubes"></i> Detail Izin Status </a>
                </li>
                <li><a class="uam-sm"><i class="fa fa-cubes"></i> Per. izin </a>
                    <a class="uam-lg"><i class="fa fa-cubes"></i> Perpanjang Izin </a>
                </li>
                <li><a class="uam-sm"><i class="fa fa-cubes"></i> Per. Data </a>
                    <a class="uam-lg"><i class="fa fa-cubes"></i> Perubahan Data </a>
                </li>
                <li><a class="uam-sm"><i class="fa fa-cubes"></i> Rwt. Izin </a>
                    <a class="uam-lg"><i class="fa fa-cubes"></i> Riwayat Izin </a>
                </li>
                <?php } ?>
                <?php if(is_member() || is_admin()) { ?>
                <li><a class="uam-sm"><i class="fa fa-cubes"></i> Not. Permohonan </a>
                    <a class="uam-lg"><i class="fa fa-cubes"></i> Notifikasi Permohonan </a>
                </li>
                <li><a class="uam-sm"><i class="fa fa-cubes"></i> List. Mohon </a>
                    <a class="uam-lg"><i class="fa fa-cubes"></i> List Permohonan </a>
                </li>
                <li><a class="uam-sm"><i class="fa fa-cubes"></i> Rev. Mohon </a>
                    <a class="uam-lg"><i class="fa fa-cubes"></i> Review Permohonan </a>
                </li>
                <?php } ?>
                <?php if(is_contributor() || is_admin()) { ?>
                <li><a class="uam-sm"><i class="fa fa-cubes"></i> Not. Permohonan </a>
                    <a class="uam-lg"><i class="fa fa-cubes"></i> Notifikasi Permohonan </a>
                </li>
                <li><a class="uam-sm"><i class="fa fa-cubes"></i> List. Mohon </a>
                    <a class="uam-lg"><i class="fa fa-cubes"></i> List Permohonan </a>
                </li>
                <li><a class="uam-sm"><i class="fa fa-cubes"></i> Rev. Mohon </a>
                    <a class="uam-lg"><i class="fa fa-cubes"></i> Review Permohonan (Administrasi & Teknis) </a>
                </li>
                <?php } ?>
                <?php if(is_editor() || is_admin()) { ?>
                <li><a class="uam-sm"><i class="fa fa-cubes"></i> Not. Permohonan </a>
                    <a class="uam-lg"><i class="fa fa-cubes"></i> Notifikasi Permohonan </a>
                </li>
                <li><a class="uam-sm"><i class="fa fa-cubes"></i> List. Mohon </a>
                    <a class="uam-lg"><i class="fa fa-cubes"></i> List Permohonan </a>
                </li>
                <li><a class="uam-sm"><i class="fa fa-cubes"></i> Rev. Mohon </a>
                    <a class="uam-lg"><i class="fa fa-cubes"></i> Review Permohonan </a>
                </li>
                <?php } ?>
            </ul>
        </div>

    </div>
    <?php endif; ?>
    <!-- /sidebar menu -->

    <!-- /menu footer buttons -->
    <div class="sidebar-footer hidden-small">
        <a href="<?= site_url('dashboard'); ?>" data-toggle="tooltip" data-placement="top" title="Dashboard">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="FullScreen" class="go-fullscreen">
            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="User Guide">
            <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Logout" href="<?= site_url('logout') ?>">
            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
        </a>
    </div>
    <!-- /menu footer buttons -->
</div>