<div class="left_col scroll-view">

    <div class="navbar nav_title" style="border: 0;">
        <a href="<?php echo site_url('dashboard'); ?>" class="site_title"><img src="<?= base_url('assets/img/favicon.png'); ?>"> <span>Caroline | DMS</span></a>
    </div>
    <div class="clearfix"></div>

    <!-- menu prile quick info -->
    <div class="profile">
        <div class="profile_pic">
        </div>
        <div class="profile_info">
        </div>
    </div>
    <!-- /menu prile quick info -->

    <br />

    <!-- sidebar menu -->
    <!-- /sidebar menu -->

   
    <!-- /menu footer buttons -->
</div>