<div class="nav_menu">
    <nav class="" role="navigation">
        <div class="nav toggle">
            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li class="">
                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="<?php echo base_url('assets/'.$_SESSION['avatar']) ?>" alt=""><?php echo trans_user(current_user()) ?>
                    <span class=" fa fa-angle-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-usermenu animated fadeInDown pull-right">
                    <li><a href="<?php echo site_url('profile/'.current_user()); ?>"><i class="fa fa-tags pull-right"></i>  Profile</a>
                    </li>
                    <?php if(have_authority()) : ?>
                        <li>
                            <a id="users-history" data-current-user="<?php echo current_user() ?>" data-history-type="user"><i class="fa fa-clock-o pull-right"></i>History</a>
                        </li>
                    <?php endif; ?>
                    <?php if( !is_admin() ) : ?>
                        <li>
                            <a id="contact-admin"><i class="fa fa-phone-square pull-right"></i>Contact Admin</a>
                        </li>
                    <?php endif; ?>
                    <?php if( is_admin() ) : ?>
                        <li>
                            <a id="sys-settings"><i class="fa fa-cogs pull-right"></i>Settings</a>
                        </li>
                    <?php endif; ?>
                    <li>
                        <a href="<?php echo base_url('assets/user_guide/user_guide.pdf') ?>" target="_blank"><i class="fa fa-book pull-right"></i> User Guide</a>
                    </li>
                    <li><a href="<?php echo site_url('logout') ?>"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                    </li>
                </ul>
            </li>

            <li role="presentation" class="dropdown">
                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-envelope-o"></i>
                    <span class="badge bg-green"><?php echo count_assigned_documents(); ?></span>
                </a>
                <ul id="menu1" class="dropdown-menu list-unstyled msg_list animated fadeInDown" role="menu"></ul>
            </li>

        </ul>
    </nav>
</div>